*{box-sizing: border-box;
margin: 0;
padding:0;}


body{font-family: sans-serif;
line-height: 1.6;}


a{text-decoration: none;}

ul{list-style: none;}

img{width: 100%;}

.navbar{display: flex;
align-items: center;
justify-content: space-between;
text-align: center;
background: #333;
opacity: 0.7;
height: 70px;}

.navbar ul{display: flex;
margin: 0 5px;}

.navbar a{padding: 30px;
margin: 0 5px;
color: #fff;
font-size: 20px;}

.navbar a:hover{background: lightpink;
color: 	#4267B2;}

.navbar .logo{color: goldenrod;
font-size: 40px;}

.navbar .sp{color: #4267B2;}

/*hero*/

.hero{background: url("./building.jpg")no-repeat center center/cover;
height: 100vh;
position: relative;}

.hero .content{display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 80%;}

.hero .content h2{color: #fff;
font-size: 80px;
font-weight: 300;}

.hero::before{content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0,0, 0.6);}

.hero *{z-index: 10;}


/*blog*/
.blog{display: flex;}

.blog .row{display: flex;
flex-wrap: wrap;
width: 100%;}

.blog .column{display: flex;
flex-direction: column;
flex-basis: 100%;
flex: 1;}


.blog .column .column-1,
.blog .column .column-2{height: 100%;}

.blog .column .column-2{display: flex;
    flex-direction: column;
align-items: flex-start;
justify-content: center;
 padding: 30px;}


 .blog .column .column-2{background: cornsilk;
font-size: 20px;}




 .blogc img{width: 100%;
height: 100%;
object-fit: cover;}


/*the boss*/

.rashed{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;}

.rashed{background: lightgray;}

.rashed h4{font-weight: 200;}

.rashed img{border-radius: 50%;}

/*icons*/

.icons .flex{display: flex;
align-items: center;
justify-content: space-evenly;
text-align: center;}

.icons{background: cornsilk;
height: 80%;}

.icons i{color:#333;
margin: 20px;}

.icons h6{font-size: 20px;
margin: 30px;}

.icons i:hover{color: #28a745;}

/*footer*/

.last{background: #333;
height: 50px;}

.last .para{color: #fff;
font-size: 20px;
text-align: center;}

@media(max-width:768px){
    .navbar{display: flex;
        flex-direction: column;
    height: 70px;}
    .navbar .logo{font-size: 20px;
    text-align: center;}

   .navbar a{display: flex;
    font-size: 12px;
padding: 5px;
justify-content: center;}

.navbar ul{justify-content: center;
align-items: center;
text-align: center;}

.hero .content h2{display: flex;
    flex-direction: column;
    font-size: 25px;
height: 30%;}

.blog .column{flex: 100%;
max-width: 100%;
flex-direction: row-reverse;}
.blog .column .column-2{padding: 15px;
font-size: 10px;}

.rashed .column image-orientation: {width: 50%;}
.icons .flex{flex-direction: column;}
.last .para{font-size: 12px;}
}

