@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');


*{box-sizing: border-box;
margin: 0;
padding: 0;}


body{font-family: sans-serif;
line-height: 1.6;}


.content{color:#fff}

a{text-decoration: none;}

ul{list-style: none;}

h1 h2{font-weight: 300;}


p{margin:10px 0;}




img{width: 100%;}


.navbar{display: flex;
align-items: center;
justify-content: space-between;
background: #333;
height: 70px;
color: #fff;
opacity: 0.9;
top: 0px;}



.navbar a{color: #fff;
padding: 10px 20px;
margin: 0 5px;}

.navbar a:hover{cursor: pointer;
border-bottom: 2px solid darkolivegreen;
color: goldenrod;}

.navbar ul{display: flex;}

.navbar .logo{font-weight: 400;}

/*Hero*/
.hero{background: url("./pic1.jpg")no-repeat center center/cover;
height: 100vh;
position: relative;}


.hero .content{display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 80%;}


.hero .content h2{font-size: 55px;
padding: 0 20px;
font-family: sans-serif;
font-weight: 300;}


.hero .content p{font-size: 25px;
    max-width: 600px;
margin-bottom: 20px;}



.hero::before{content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.6);}

.hero *{z-index: 10;}

/*blog*/

.hero.blog{background: url("./blog.jpg")no-repeat center center/cover;
height: 30%;}

.solution-2.blog{background: #999;}

.solution-2.blog .column-1{background: #888;
color: black;}



/*icons*/
.icons{padding: 20px;
 background: cornsilk;}

.icons h3{font-weight: 400;
margin-bottom: 20px;}

.icons i{background:#28a745;
color:#fff;
border-radius: 50%;
padding: 1rem;}

.cases img:hover{opacity: 0.7;
cursor: pointer;}


.team img{border-radius: 50%;}


/*contact*/


.callback-form{width: 100%;}


.callback-form label{display: block;
margin-bottom: 15px;}


.callback-form .form-control{margin-bottom: 15px;}


.callback-form input{width: 100%;
    padding: 30px;
    height: 30px;
    border: 1px solid #fff;}


    .contact .btn{width: 100%;
    padding: 10px 15px;
 text-align: center;
background:#28a745 ;
color: white;}



.callback-form input:focus{outline-color:#28a745 ;}


.contact .btn:hover{background: darkolivegreen;
cursor: pointer;}


/*footer*/

.footer{background: #333;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
height: 100px;}

.footer i{margin-right: 20px;
 color: #fff;}

.footer .para{color: #fff;}


.footer i:hover{color:#28a745;
 cursor: pointer;}



 /*media*/

 @media(max-width:768px){
     .navbar{flex-direction: column;
    padding: 100px;
margin-top: -70px;}

    .content{flex-direction: column;}

    .icons{flex-direction: column ;}

    .flex{flex-direction: column;}

    .solution .column{flex: 100%;
    max-width: 100%;}


    .cases .column{flex: 100%;
    max-width: 100%;}

    .solution-2 .column{flex: 100%;
    max-width: 100%;}

    .team .column{flex: 100%;
    max-width: 100%;}


    .team .column img{width: 60%;}

    .contact .column{flex: 100%;
    max-width: 100%;}
 }



 /*BLOG*/

    


